body {
    background-color: lightblue;
}
 
h1 {
    color: navy;
    margine-left: 20px;
}

h2{
    /*display: inline;*/
    color: rgb(57, 0, 123)
}

h3 {
    /*display: inline;*/
    color: purple
}
