body {
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}


.flex-container {
  display: flex;
  gap: 20px;
}


.box {
  background-color: #fde9ee; /* light pink */
  padding: 20px;
  width: 33%;
  text-align: center;
}

/* IMAGES */
.box img {
  margin: 5px;
}
