* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #e6ecff;
}

.header {
  background: #7b6cf6;
  color: white;
  text-align: center;
  padding: 30px;
  border-radius: 0 0 20px 20px;
}


.main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 20px;
}


.picture-card {
  background: #ff9b66;
  color: white;
  flex: 1;
}

.images {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.images img {
  width: 100%;
  max-width: 120px;
  border-radius: 10px;
}


.info-card {
  flex: 2;
}

.subtitle {
  font-style: italic;
  margin-bottom: 15px;
}


.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  border-radius: 20px 20px 0 0;
}


@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .images {
    justify-content: center;
  }
}
